#box{
    background-color: red;
    border-style: solid;
    position: absolute;
    left: 530px;
    top: 100px;
    width: 30px;
    height: 30px; 
}

#circle{
    background-color: blue;
    border-style: solid;
    position: absolute;
    left: 530px;
    top: 55px;
    width: 30px;
    height: 30px;
}

#table{
    width: 950px;
    height: 300px;
    left: 200px;
    top: 200px;
}

#start{
    left: 650px;
}